@charset "utf-8";

/*-About-*/
.about {
    text-align: center;
    padding: var(--B-PADDING);
}

/*-Menu-*/
.menu {
    background-color: var(--C_MENU);
    padding: var(--B-PADDING);
    text-align: center;
}
